{% load static %}

    <!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <title>{% block title %}Mon Blog{% endblock %} </title>
</head>
<body>
    <header>
        <h1>Bienvenue sur mon blog</h1>
        <nav>
            <a href="/">Accueil</a>
            <a href="{% url 'liste_articles' %}">Liste Article</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Mon Blog</p>
    </footer>
</body>
</html>